pre {
    background-color: #FDF6E3;
    overflow: scroll;
    padding: 10px;
    border-style: solid;
    border-width: 0.1px;
}
.sourceCode .kw, .sourceCode .fu, .sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .st { color: #2AA198; }
